# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

exercises/1
exercises/2
exercises/3
exercises/4

exercises/1/solution
exercises/2/solution
exercises/3/solution
exercises/4/solution

# IntelliJ project files
.idea
*.iml
out
gen

# JMeter
apache-jmeter-5.0
jmeter.log

