# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

exercises/1/solution

exercises/2/solution

exercises/3/solution

exercises/4
exercises/4/solution

demos/csv
demos/assertions


# IntelliJ project files
.idea
*.iml
out
gen

# JMeter
jmeter.log
apache-jmeter-5.0/backups

